@{
    ViewData["Title"] = "Home Page";
}

<!--Primeia parte da atividade ok -->
<div class="container">
    <h1>Todo List</h1>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control form-control-lg" id="exampleFormControlInput1" placeholder="Add task...">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary btn-lg ms-2">+</button>
        </div>
    </div>
</div>

<!--Segunda parte da atividade -->
<br>

<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="h5 my-4">My tasks</h2>
        </div>
    </div>
    <ul class="list-group">

        @{
            string[] Todos = { "Passar roupa", "Lavar cabelo", "Assar pão de queijo" };
        }
        @foreach (string Todo in Todos)
        {
            <li class="list-group-item">
                <div class="row">
                    <div class="col-auto">
                        <input class="form-check-input me-2"
                           type="checkbox">
                    </div>
                    <div class="col">
                        @Todo
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-sm btn-danger">
                            Delete
                        </button>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>

